$icon-width: 135px;
$base-margin: 1em;
$base-font-size: 10pt;

html{
    font-family: monospace !important;
}

main{
    margin: $base-margin;
    font-size: $base-font-size;
}

li{
    word-wrap: break-word;
}

h2{
    margin-top: 0;
}

#main-container{
    margin-top: $base-margin;
}

.management-content{
    margin-bottom: $base-margin;
}

#upload-field{
    width: 100%;
}

#upload{
    width: 100%;
}

.footer{
    margin-top: calc(2* #{$base-margin});
}

.alert-icon{
    height: $icon-width;
    width: $icon-width;
    border: solid 1px;
    border-radius: 5px;
    float: left;
    margin-right: $base-margin;
}

#alert-container{
    display: flex;
    margin-bottom: $base-margin;
}

#alert-title{
    margin: 0;
}

#alert-desc{
    max-width: calc(400px +  #{$icon-width});
    margin-top: $base-margin;
}

.channel-link{
    font-size: $base-font-size;
    font-weight: normal;
}