html {
  font-family: monospace !important;
}

main {
  margin: 1em;
  font-size: 10pt;
}

li {
  word-wrap: break-word;
}

h2 {
  margin-top: 0;
}

#main-container {
  margin-top: 1em;
}

.management-content {
  margin-bottom: 1em;
}

#upload-field {
  width: 100%;
}

#upload {
  width: 100%;
}

.footer {
  margin-top: calc(2* 1em);
}

.alert-icon {
  height: 135px;
  width: 135px;
  border: solid 1px;
  border-radius: 5px;
  float: left;
  margin-right: 1em;
}

#alert-container {
  display: flex;
  margin-bottom: 1em;
}

#alert-title {
  margin: 0;
}

#alert-desc {
  max-width: calc(400px + 135px);
  margin-top: 1em;
}

.channel-link {
  font-size: 10pt;
  font-weight: normal;
}
