<!DOCTYPE html><html lang="en"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta id='meta-img' property="og:image" content="">
    <meta id='meta-title' property="og:title" content="Subscriber Vault">
    <meta id='meta-desc' property="og:description" content="Share files with your Twitch subscribers!">
    <meta name="twitter:card" content="summary">
    <title>Subscriber Vault</title>
    <!-- <link rel="stylesheet" type="text/css" href="/css/normalize.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="/css/skeleton.css"> -->
    <link rel="stylesheet" type="text/css" href="/css/app.css">
</head>
    <body>
        <main>
            <div id='navbar'>
                [<span id='navbar-home'><a href='/'>home</a></span>] 
                [<span id='navbar-upload'><a href='/upload'>upload</a></span>] 
                [<span id=navbar-login-status><a href='/auth/twitch'>log in with Twitch!</a></span>] 
            </div>
            <div id='main-container'>
                <div id='alert-container'>
                    <div id='alert-text'>
                        <img id='alert-img' class='alert-icon' src="img/blush.png"/>
                        <h2 id='alert-title'>Welcome to the Subscriber Vault!</h2>
                        <div id='alert-desc'>
                            The <b>Subscriber Vault</b> is a site where Twitch broadcasters can upload things to share exclusively with their Subscribers!
                            <br><br>
                            Site built and maintained by Skeletom (<a target=# href="https://www.twitter.com/fomtarro">FomTarro</a>).
                        </div>
                    </div>
                </div>
                <div id='error-container'>
                    <h2 id='error-title'>404</h2>
                    <div id='error-reason'></div>
                </div>
                <div id='list-container'>
                    <h2 id='list-title'>Broadcasters</h2>
                    <div id='list-content'>
                        <ul id='list'>
                            <!-- List content goes here -->
                        </ul>
                    </div>
                </div>
                <div id='upload-container'>    
                    <div id='upload-content'>
                        <label for="upload"><h2 id='upload-title'>Upload a File</h2></label>
                        <form method="POST" action="/upload" enctype="multipart/form-data">
                            <div class="field">
                                <input type="file" name="upload" id="upload">
                            </div>
                            <input type="submit" class="btn" value="Upload!">
                        </form>
                    </div>
                </div>
            </div>
            <div class='footer'>
                <!-- [<span><a href="https://github.com/FomTarro/subvault" target="#">github</a></span>]  -->
                <!-- [<span><a>contact</a></span>] -->
            </div>
        </main>
    </body>
</html>