<!DOCTYPE html><html lang="en"><head>
    <title>sub vault</title>
    <!-- <link rel="stylesheet" type="text/css" href="/css/normalize.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="/css/skeleton.css"> -->
    <link rel="stylesheet" type="text/css" href="/css/app.css">
</head>
    <body>
        <main>
            <div id='navbar'>
                [<span id='navbar-home'><a href='/'>home</a></span>] 
                [<span id='navbar-upload'><a href='/upload'>upload</a></span>] 
                [<span id=navbar-login-status><a href='/auth/twitch'>log in with Twitch!</a></span>] 
            </div>
            <div id='main-container'>
                <div id='error-container'>
                    <h2 id='error-title'>404</h2>
                    <div id='error-reason'></div>
                </div>
                <div id='list-container'>
                    <h2 id='list-title'>Broadcasters</h2>
                    <div id='list-content'>
                        <ul id='list'>
                            <!-- List content goes here -->
                        </ul>
                    </div>
                </div>
                <div id='upload-container'>    
                    <div id='upload-content'>
                        <label for="upload"><h2 id='upload-title'>Upload a File</h2></label>
                        <form method="POST" action="/upload" enctype="multipart/form-data">
                            <div class="field">
                                <input type="file" name="upload" id="upload">
                            </div>
                            <input type="submit" class="btn" value="Upload!">
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </body>
    <!-- <footer>
        copyright sunshine committee 2021
    </footer> -->
</html>