<!DOCTYPE html><html lang="en"><head>
    <title>sub vault</title>
    <!-- <link rel="stylesheet" type="text/css" href="/css/normalize.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="/css/skeleton.css"> -->
    <link rel="stylesheet" type="text/css" href="/css/app.css">
</head>
    <body>
        <main>
            <div>
                [<span id='home'><a href='/'>home</a></span>] [<span id=login-status><a href='/auth/twitch'>log in with Twitch!</a></span>]
            </div>
            <h2 id='list-title'>Broadcasters</h2>
            <div id='list-container'>
                <ul id='list'>

                </ul>
            </div>
        </main>
    </body>
    <!-- <footer>
        copyright sunshine committee 2021
    </footer> -->
</html>